Port                            22
Port                            2222
ListenAddress                   0.0.0.0
MaxAuthTries                    3
PasswordAuthentication          no
ChallengeResponseAuthentication no
UsePAM                          yes
PermitTunnel                    yes
TCPKeepAlive                    yes
X11Forwarding                   yes
AllowTcpForwarding              yes
AllowAgentForwarding            yes
PermitUserEnvironment           yes
Subsystem                       sftp                       /usr/lib/openssh/sftp-server
AcceptEnv                       LANG LC_*
PermitRootLogin                 prohibit-password
HostKey                         /etc/ssh/ssh_host_rsa_key
AuthorizedKeysFile              .ssh/authorized_keys
